@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css/css2?family=Lato:wght@300;400;700;900&dispaly=swap');

body{
    font-family: 'Lato',sans-serif;
    background-color: #cac3c3;
    overflow: hidden;
}

.home-body{
   /* height: 100vh;*/
}
.bg-red{
    background-color: #f7656a;
    color: #fff;
}
.scroll{
  height: 100%;
   overflow: auto; 
}

.active{
    color: yellow !important;
}